button {
    color: white;
    background-color: black;
    font-size: larger;
    outline-color: midnightblue;
}
  button:focus {
    background: red;
  }
 
  button:active {
    outline-color: yellow ;
  }

  a{
    color: black;
    background-color: coral;
    font-size: x-large;
    outline-color: rgb(1, 1, 37);
  }

  div {
    color: black;
    background-color: midnightblue;
    font-size: larger;
    outline-color: rgb(1, 1, 37);
  }