<tetris-core #game
(lineCleared)="onLineCleared()"></tetris-core>
<h1>The game is: {{prettyBigGameIndicator(gameStateInicator)}}</h1>
<a>Score: {{ score }}</a>
<br>
  <p>
  <button disabled = true>*****</button>
  <button (click)="gameStateInicator = true; game.actionStart()">Start</button>
  <button (click)="gameStateInicator = false; game.actionStop()">Stop</button>
  <button disabled = true>*****</button>
  <br><br><br><br>
  
  <button (click)="game.actionLeft()">←Left</button>
  <button (click)="game.actionRotate()">↻Rotate⟳</button>
  <button (click)="game.actionRight()">Right→</button>
  <br>
  <button disabled = true>★★★</button>
  <button (click)="game.actionDown()">↓Down↓</button>
  <button disabled = true>★★★</button>
  <br><br><br><br>
  <button (click)="game.actionReset()">- - - - - Reset - - - - - </button>
  <br>
  <br><br><br><br><br><br>
  <!-- <br><br><br><br><br><br>
  <br><br><br><br><br><br> -->
  <button (click)="sendData()">exit game</button>
</p>

<br>
<h6>You're login as: {{loggedName}}, Your email: {{loggedEmail}}</h6>

<div> 
 <!--play time: {{tTtime}}-->
 
</div>