<tetris-core #game
(lineCleared)="onLineCleared()"></tetris-core>

<h1>The game is: {{prettyBigGameIndicator(gameStateInicator)}}</h1>
<a>Score: {{ score }}</a>

<button (click)="add(1)">Next</button>
<button (click)="add(-1)">Prev</button>

  <p>
  <button disabled = true>*****</button>
  <button (click)="gameStateInicator = true; game.actionStart()">Start</button>
  <button (click)="gameStateInicator = false; game.actionStop()">Stop</button>
  <button disabled = true>*****</button>
  <br><br><br><br>
  
  <button (click)="game.actionLeft()">←Left</button>
  <button (click)="game.actionRotate()">↻Rotate⟳</button>
  <button (click)="game.actionRight()">Right→</button>
  <br>
  <button disabled = true>★★★</button>
  <button (click)="game.actionDown()">↓Down↓</button>
  <button disabled = true>★★★</button>
  <br><br><br><br>
  <button (click)="game.actionReset()">- - - - - Reset - - - - - </button>
  <br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <button>Zaloguj/wynierz użytkownika</button>
</p>

<div> 
 <!--play time: {{tTtime}}-->
 
</div>