<h3>Zagrajmy w Tetrisa {{nameValue}}</h3>
<br>
 
<div> 
    Wpisz imię i naciśnij enter: <br>
    <input #box (keyup.enter)="onNameEnter(box.value)">
    <br>
    {{nameValue}} podaj email i wciśniej enter : <br>
    <input #box1 (keyup.enter)="onEmailEnter(box1.value)">
</div>

<br>
<div> {{this.validNameMessage}} </div>
<br>
<div> {{this.validEmailMessage}} </div>
<br>
<div *ngIf="nameIsInvalid || emailIsInvalid"> 
    <button (click) = "checkIsValidForms()">Start</button>
</div>
<div *ngIf="!(nameIsInvalid || emailIsInvalid)"> 
    <button (click)="sendData()">Start!</button>
</div>


